﻿@model ProductDetailsModel

    
@if (! string.IsNullOrEmpty(Model.Author))
{
<div class="delivery-date">
    @*I don't know why this not working...*@
    @*<span class="label">@T("Products.Author"):</span>*@

    <span class="label">Author:</span>
    <span class="value">@Model.Author</span>
</div>
}